<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <title>Success-Lending Hat</title>
  </head>
  <body>
    
    <div class="thanks-box show">
      <img src="img/thanks.png" alt="" />
      <h4>
        <strong>Thanks for your submission</strong> and we will get back to you
        with best offer
      </h4>
      <a href="/"><button type="submit" class="next action-button">Return Home</button></a>
    </div>
   
  </body>
</html>
